.navbar {
  align-items: center;
  background-color: #353535;
  border-bottom: 2px solid #213130;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  padding: 8px 32px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  user-select: none;
}

.home-link {
  color: rgb(230, 230, 230);
  align-items: center;
  display: flex;
}

.home-link img {
  height: 32px;
  margin: auto 8px;
}

.home-link h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2rem;
  margin: auto 8px;
}

.links {
  display: flex;
}

.link {
  cursor: pointer;
  color: rgb(230, 230, 230);
  font-size: 1.25rem;
  font-weight: bold;
  margin: auto 8px;
}

.link:hover {
  color: rgb(202, 202, 202);
}


@media (prefers-color-scheme: light) {
  .home-link {
    color: #213547;
  }
  .link {
    color: #213547;
  }
  .link:hover {
    color: #182633;
  }
}
