.heading {
  font-size: 4rem;
  text-align: left;
  text-transform: uppercase;
}

.profile-flexbox {
  display: flex;
  min-width: 50vw;
}

.mini-container {
  flex: 2;
}

.detailed-container {
  flex: 3;
}

.mini-profile-card {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  border-left: 6px solid #4f7471;
  margin: 16px;
  padding: 16px;
}

.mini-username {
  font-size: 2rem;
}

.profile-options-container {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  margin: 16px;
}

.options {
  padding: 8px 0px;
}

.profile-option {
  align-items: center;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 1.25em;
  padding: 16px;
  padding-left: 20px;
  user-select: none;
}

.profile-option:hover {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.08);
  border-left: 4px solid #4f7471;
  display: flex;
  font-size: 1.25em;
  padding: 16px;
  user-select: none;
}

.option-icon {
  height: 1.25em;
  margin-right: 16px;
}

.selected {
  cursor: default;
  background-color: rgba(255, 255, 255, 0.08);
  border-left: 4px solid #4f7471;
  padding-left: 16px;
}

.selected:hover {
  padding-left: 16px;
}

.profile-card {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  border-left: 6px solid #4f7471;
  margin: 16px;
  padding: 16px;
  text-align: left; 
}

.card-heading {
  /* color: rgb(120, 187, 192); */
  color: rgb(220, 220, 220);
  font-size: 2rem;
  text-transform: uppercase;
}

.plan {
  color: rgb(120, 187, 192);
  font-size: 3rem;
  text-transform: uppercase;
}

.view-contacts {
  align-items: center;
  display: flex;
  margin: 4px -4px;
  user-select: none;
}
